.banner {
  position: relative;
  top: 76px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner div {
  text-align: center;
}
.banner-typed,
.typed-cursor {
  font-size: 1rem;
}
.banner-typed {
  white-space: pre;
}
.color {
  color: var(--primaryColor);
}
@media screen and (min-width: 556px) {
  .banner span,
  .typed-cursor {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .banner span,
  .typed-cursor {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .banner span,
  .typed-cursor {
    font-size: 4rem;
  }
}