.title {
  text-transform: uppercase;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}
.title h4 {
  text-align: center;
  letter-spacing: 7px;
  color: var(--primaryColor);
}
.title-text {
  color: var(--mainBlack);
}
.title span {
  display: block;
}
@media (min-width: 576px) {
  .title span {
    display: inline-block;
    margin: 0 0.35rem;
  }
}
